profiles {
    standard {
        process {
            executor = 'local'
            withLabel: 'low' {
                memory= 1.GB
                cpus=1
                time=6.h
            }
            withLabel: 'med' {
                memory= 2.GB
                cpus=2
            }
            withLabel: 'high' {
                memory = 4.GB
                cpus=3
            }
        }
    }
}