// Add a profile for docker
profiles {
    standard {
        process {
            executor = 'local'
            withLabel: 'low' {
                memory=1.GB
                cpus=1
                time=6.h
            }
            withLabel: 'med' {
                memory=2.GB
                cpus=2
            }
            withLabel: 'high' {
                memory = 3.GB
                cpus=4
            }
        }
    }

    conda { params.enable_conda = true }

    docker {
        // Enabling docker 
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = "${System.getenv('VSC_SCRATCH')}/.apptainer_cache"
    }
}

